.Container{
    background-color: #f4fbfe;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.CopyRight{
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    color: #0f394c;
    padding-left: 80px;
}
.Credits{
    box-sizing: border-box;
    text-align: right;
    width: 50%;
    color: #0f394c;
    padding-right: 80px;
}
.BackToTop{
    position: fixed;
    z-index: 100;
    color: white;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    background-color: #ff6600;
    padding: 10px 12px;
}
.BackToTop i{
    color: white;
}
@media screen and (max-width: 550px) {
    .Container{
        display: block;
    }
    .CopyRight{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .Credits{
        width: 100%;
        padding: 0;
        text-align: center;
    }
}