.header{
    background-color: #ff6600;
    z-index: 100;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: left;
    justify-content: center;
}
.Topbar {
    /* padding: 0 40px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.Topbar h1{
    font-size: 30px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}
.Topbar img{
    height: 36px;
    padding-left: 20px;
}
a img{
    vertical-align: middle;
    height: 20px;
    margin-top: 5px;
}
button{
    cursor: pointer;
    margin: 0 20px;
    display: block;
    width: 50px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
}
button i{
    color: white;
    display: block;
}
@media screen and (max-width: 600px) {
    .header{
        padding: 20px 10px;
    }
}